/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --background-color: #fff;
  --foreground-color: #222;
  --accent-color: #f0c;

  @media (prefers-color-scheme: dark) {
    --background-color: #111;
    --foreground-color: #fff;
  }
}

// BEGIN APP STYLES

body {
  --padding: 4em;
  background-color: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Sans-Serif;
  min-height: calc(100vh - 2 * var(--padding));
  padding: var(--padding) 0;
}

#app {
  max-width: 80rem;
  display: flex;
  flex: 1;
  flex-flow: row;
  align-items: center;
}

h1 {
  font: inherit;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15vmin;
  color: #f0c;
}
